h1,h2,h3{
  text-align: center;
}

#hero, #about{
  padding-top: 30px;
}

#hero {
  padding-top: 0px;
  padding-bottom: 0px;
  height: 90vh;
  padding-bottom: 30px;
}

.hero__bg{
  background-image: url('/assets/images/hero.jpg');
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  filter: blur(5px);
  -webkit-filter: blur(5px);
}

.hero__content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-45%, -50%);
  z-index: 2;
  color: white;
}

.hero__content > * {
  margin: 14px;
}

.hero__content-description * {
  margin: 16px 0px;
}

.hero__image{
  object-fit: cover;
  width: 335px;
  height: 335px;
  border-radius: 110px;
}

#about > h2{
  margin: 10vh 0;
}

.about__content{
  width: 65%;
  height: 50%;
  justify-content: space-around;
}

.about__content > * {
  width: 40%;
}

.about__quote > h4, .about__description{
  line-height: 2.5;
}

.content-center{
  display: flex;
  margin-right: auto;
  margin-left: auto;
  align-items: center;
}

#experience{
  justify-content: center;
}

.experience__content{
  margin-top: 14vh;
}

.experience__content > h2 {
  margin-bottom: 10vh;
}

.timeline {
  list-style-type: none;
  position: relative;
}

.timeline:before{
  content: ' ';
  background: #d4d9df;
  display: inline-block;
  position: absolute;
  left: 29px;
  width: 2px;
  height: 100%;
  z-index: 400;
}

.timeline > li {
  margin: 25px 0;
  padding-left: 20px;
}

.timeline > li:before {
  content: ' ';
  background: white;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  border: 3px solid #22c0e8;
  left: 20px;
  width: 20px;
  height: 20px;
  z-index: 400;
}

.timeline__job{
  display: flex;
  justify-content: space-between;
}

.timeline__description{
  line-height: 2.5;
  margin-top: 10px;
}

#projects{
  padding-top: 30px;
}

#projects > h2 {
  margin: 10vh 0;
}

#projects__content {
  width: 80%;
  align-items: unset;
}

.experience__content, .experience__courses, .projects__content > div {
  width: 40%;
}

.card {
  margin-right: auto;
  margin-left: auto;
}